.display {
  width: 90%;
  max-width: 111rem;
  background-color: $color-white;
  border-radius: 20px;
  display: flex;
  padding: 3rem;
  box-shadow: 0 0.5rem 2rem rgba($color-black, 0.1);
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  @include respond(tab-land) {
    flex-direction: column;
    align-items: center;
    height: auto;
    top: 17%;
  }

  &__box {
    flex: 0 1 25%;

    @include respond(tab-land) {
      text-align: center;
      flex: 1 1 25%;
    }

    &:not(:first-child) {
      padding: 0 3rem 0 3rem;
      border-left: 1px solid #DADADA;

      @include respond(tab-land) {
        border: none;
        padding: 1.5rem 0 0 0;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #959595;
    padding-bottom: 1rem;
  }

  &__data {
    font-weight: 500;
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #2C2C2C;
  }
}
